<h1>Add chat room</h1>

<%- if @chat_room.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">Oh No!</h4>
    <p>Something went wrong</p>
  </div>
<% end %>

<%= render 'form' %>