<h1>Users list</h1>

<% @users.each do |user| %>
    <%= image_tag user.avatar.url(:thumb) %>
    <%= user.email %> | <%= link_to 'send message ',
                                    { :controller => 'participants',
                                      :action => 'create',
                                      id: user.id},
                                    method: :post %> <br>
<% end %>