// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.online_status {
  color: red;
  transition: color 1s ease;
  &.online {
    color: green;
  }
}